{% extends "padre.html" %}

{% block title %}
    {{titulo}}
{% endblock %}

{% block main %}
    <div class="container">
    <div class="card bg-light my-5">
        <h1 class="card-header bg-dark text-center text-white">{{titulo}}</h1>
        <div class="card-body shadow-lg">
            <form action="{{formulario}}" method="POST" enctype="multipart/form-data" novalidate>
                {% if estado == "Mostrar" %}
                    <p>El colaborador {{usuario.NOMBRE}} va ha ser borrado de la lista.</p>
                    <input class="btn btn-primary" type="submit" name="boton" value="Confirmar"/>
                {% elseif estado == "Confirmacion"  %}
                    <p>El colaborador ha sido borrado de la lista.</p>
                {% endif %}
            </form>
        </div>
    </div>
    </div>

{% endblock %}