{% extends "padre.html" %}

{% block title %}
    Registrar usuario
{% endblock %}

{% block main %}
    <div class="container">
    <div class="card bg-light my-5">
        <h1 class="card-header bg-dark text-center text-white">Registrar a un usuario</h1>
        <div class="card-body shadow-lg">
        {% if valores.boton == "Enviar datos" or valores.boton is empty %}
            <form action="/model/dar_de_alta_form.php" method="POST" enctype="multipart/form-data" novalidate>
                <div class="row">
                    <div class="col align-self-center mb-4 mr-4 ml-4">
                        <label for="formFileSm" class="form-label {{valores.errorfoto ? 'is-invalid'}}">Fotografía</label>
                        <input class="form-control form-control-sm" name="foto" id="formFileSm" type="file">
                    {% if valores.errorfoto is not empty %}
                        <p class="invalid-feedback">{{valores.errorfoto}}</p>
                    {% endif %}
                    </div>
                    <div class="col mb-4 ml-4 text-center">
                        <img src="{{foto ?? '/assets/usuario.png'}}" class="rounded flex-shrink-0" witdh="256" height="256" alt="Imagen usuario por defecto"/>
                    </div>
                </div>
                
                <div class="form-floating mb-3">
                    <input class="form-control {{valores.errornombre ? 'is-invalid'}}" id="floatingnombre" type="text" name="nombre" placeholder="Escriba su nombre" value="{{valores.nombre}} {{valores.sinerrores ? 'disabled'}}"/>
                    <label for="floatingnombre">Nombre</label>
                {% if valores.errornombre is not empty %}
                    <p class="invalid-feedback">{{valores.errornombre}}</p>
                {% endif %}
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control {{valores.errorapellido ? 'is-invalid'}}" id="floatingapellido" type="text" name="apellido" placeholder="Escriba su apellido" value="{{valores.apellido}} {{valores.sinerrores ? 'disabled'}}"/>
                    <label for="floatingapellido">Apellidos</label>
                {% if valores.errorapellido is not empty %}
                    <p class="invalid-feedback">{{valores.errorapellido}}</p>
                {% endif %}
                </div>

                <div class="form-floating col mb-3">
                    <input class="form-control {{valores.erroremail ? 'is-invalid'}}" id="floatingemail" type="text" name="email" placeholder="Escriba su email" value="{{valores.email}} {{valores.sinerrores ? 'disabled'}}"/>
                    <label for="floatingemail">Email</label>
                {% if valores.erroremail is not empty %}
                    <p class="invalid-feedback">{{valores.erroremail}}</p>
                {% endif %}
                </div>

                <div class="form-floating col mb-3">
                    <input class="form-control {{valores.erroremail2 ? 'is-invalid'}}" id="floatingemail" type="text" name="email2" placeholder="Escriba su email" value="{{valores.email2}}" {{valores.sinerrores ? 'disabled'}}/>
                    <label for="floatingemail">Repetir email</label>
                {% if valores.erroremail2 is not empty %}
                    <p class="invalid-feedback">{{valores.erroremail2}}</p>
                {% endif %}
                </div>
                

                <div class="row">
                    <div class="form-floating col mb-3">
                        <input class="form-control {{valores.errorcontrasenia ? 'is-invalid'}}" id="floatingemail" type="password" name="contrasenia" placeholder="Escriba su contraseña" {{valores.sinerrores ? 'disabled'}}/>
                        <label for="floatingemail">Contraseña</label>
                    {% if valores.errorcontrasenia is not empty %}
                        <p class="invalid-feedback">{{valores.errorcontrasenia}}</p>
                    {% endif %}
                    </div>

                    <div class="form-floating col mb-3">
                        <input class="form-control {{valores.errorcontrasenia2 ? 'is-invalid'}}" id="floatingemail" type="password" name="contrasenia2" placeholder="Escriba su contraseña" {{valores.sinerrores ? 'value="'valores.contrasenia'" disabled'}}/>
                        <label for="floatingemail">Repetir contraseña</label>
                    {% if valores.errorcontrasenia2 is not empty %}
                        <p class="invalid-feedback">{{valores.errorcontrasenia2}}</p>
                    {% endif %}
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control {{valores.errortelefono ? 'is-invalid'}}" id="floatingtelefono" type="text" name="telefono" placeholder="Escriba su telefono" value="{{valores.telefono}}" {{valores.sinerrores ? 'disabled'}}/>
                    <label for="floatingtelefono">Teléfono</label>
                {% if valores.errortelefono is not empty %}
                    <p class="invalid-feedback">{{valores.errortelefono}}</p>
                {% endif %}
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control {{valores.errordni ? 'is-invalid'}}" id="floatingemail" type="text" name="dni" placeholder="Escriba su dni" value="{{valores.dni}}" {{valores.sinerrores ? 'disabled'}}/>
                    <label for="floatingemail">DNI</label>
                {% if valores.errordni is not empty %}
                    <p class="invalid-feedback">{{valores.errordni}}</p>
                {% endif %}
                </div>

                <label for="genderform" class="form-label">Seleccione su género</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input {{valores.errorsexo ? 'is-invalid'}}" id="genderform" name="sexo" value="male" {{valores.sexo == 'male' ? 'checked'}} {{valores.sinerrores ? 'disabled'}} required>
                    <label class="form-check-label" for="validationFormCheck1">Masculino</label>
                </div>

                <div class="form-check mb-3">
                    <input type="radio" class="form-check-input {{valores.errorsexo ? 'is-invalid'}}" id="genderform" name="sexo" value="female" {{valores.sexo == 'male' ? 'checked'}} {{valores.sinerrores ? 'disabled'}} required>
                    <label class="form-check-label" for="validationFormCheck2">Femenino</label>
                {% if valores.errorsexo is not empty %}
                    <p class="invalid-feedback">{{valores.errorsexo}}</p>
                {% endif %}
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" id="labelrol" name="rol" {{valores.sinerrores ? 'disabled'}}>
                        <option value="admin" {{valores.rol == "admin" ? "checked"}} >Admin</option>
                        <option value="usuario" {{valores.rol == "usuario" or valores.rol is empty ? "checked"}}>Usuario</option>
                    </select>
                    <label for="labelrol">Rol</label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" id="labelestado" name="estado" {{valores.sinerrores ? 'disabled'}}>
                        <option value="activo" {{valores.estado == "activo" ? "checked"}}>Activo</option>
                        <option value="inactivo" {{valores.estado == "inactivo" or valores.estado is empty ? "checked"}}>Inactivo</option>
                    </select>
                    <label for="labelestado">Estado</label>
                </div>
                {% if not valores.sinerrores %}
                    <input class="btn btn-primary" type="submit" name="boton" value="Enviar datos"/>
                {% else %}
                    <input class="btn btn-primary" type="submit" name="boton" value="Validar datos si son correctos"/>
                {% endif %}
            </form>

        {% else %}
            <p>El usuario D/Da. {{valores.nombre}} {{valores.apellido}} ha sido insertado en el sistema correctamente.</p>
        {% endif %}
        </div>

    </div>
    </div>

{% endblock %}