{% extends "padre.html" %}

{% block title %}
    {{titulo}}
{% endblock %}

{% block main %}
    <div class="container">
    <div class="card bg-light my-5">
        <h1 class="card-header bg-dark text-center text-white">{{titulo}}</h1>
        <div class="card-body shadow-lg">
        {% if valores is not empty and estado == "Visionado" %}
            <form action="{{formulario}}" method="POST" enctype="multipart/form-data" novalidate>
                <div class="row">
                    <div class="col align-self-center mb-4 mr-4 ml-4">
                        <label for="formFileSm" class="form-label {{valores.errorfoto ? 'is-invalid'}}">Fotografía</label>
                        <input class="form-control form-control-sm" name="foto" id="formFileSm" type="file">
                    {% if valores.errorfoto is not empty %}
                        <p class="invalid-feedback">{{valores.errorfoto}}</p>
                    {% endif %}
                    </div>
                    <div class="col mb-4 ml-4 text-center">
                        <img src="{{valores.foto ? valores.foto : '/~adrianpedro2122/proyecto/assets/usuario.png'}}" class="rounded flex-shrink-0" witdh="256" height="256" alt="Imagen usuario por defecto"/>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control {{valores.errornombre ? 'is-invalid'}}" id="floatingnombre" type="text" name="NOMBRE" placeholder="Escriba su NOMBRE" value="{{valores.NOMBRE}}" readonly/>
                    <label for="floatingnombre">Nombre</label>
                {% if valores.errornombre is not empty %}
                    <p class="invalid-feedback">{{valores.errornombre}}</p>
                {% endif %}
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control {{valores.errorapellido ? 'is-invalid'}}" id="floatingapellido" type="text" name="APELLIDOS" placeholder="Escriba su apellido" value="{{valores.APELLIDOS}}" readonly/>
                    <label for="floatingapellido">Apellidos</label>
                {% if valores.errorapellido is not empty %}
                    <p class="invalid-feedback">{{valores.errorapellido}}</p>
                {% endif %}
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control {{valores.errordni ? 'is-invalid'}}" id="floatingemail" type="text" name="DNI" placeholder="Escriba su dni" value="{{valores.DNI}}" readonly/>
                    <label for="floatingemail">DNI</label>
                {% if valores.errordni is not empty %}
                    <p class="invalid-feedback">{{valores.errordni}}</p>
                {% endif %}
                </div>

                <div class="form-floating col mb-3">
                    <input class="form-control {{valores.erroremail ? 'is-invalid'}}" id="floatingemail" type="text" name="EMAIL" placeholder="Escriba su email" value="{{valores.EMAIL}}" readonly/>
                    <label for="floatingemail">Email</label>
                {% if valores.erroremail is not empty %}
                    <p class="invalid-feedback">{{valores.erroremail}}</p>
                {% endif %}
                </div>

                <div class="row">
                    <div class="form-floating col mb-3">
                        <input class="form-control {{valores.errorcontrasenia ? 'is-invalid'}}" id="floatingemail" type="password" name="PASSWORD" placeholder="Escriba su contraseña" value="{{valores.PASSWORD}}" readonly/>
                        <label for="floatingemail">Contraseña</label>
                    {% if valores.errorcontrasenia is not empty %}
                        <p class="invalid-feedback">{{valores.errorcontrasenia}}</p>
                    {% endif %}
                    </div>

                    <div class="form-floating col mb-3">
                        <input class="form-control {{valores.errorcontrasenia2 ? 'is-invalid'}}" id="floatingemail" type="password" name="contrasenia2" placeholder="Escriba su contraseña" value="{{valores.contrasenia2 ?? valores.PASSWORD}}" readonly/>
                        <label for="floatingemail">Repetir contraseña</label>
                    {% if valores.errorcontrasenia2 is not empty %}
                        <p class="invalid-feedback">{{valores.errorcontrasenia2}}</p>
                    {% endif %}
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control {{valores.errortelefono ? 'is-invalid'}}" id="floatingtelefono" type="text" name="TELEFONO" placeholder="Escriba su telefono" value="{{valores.TELEFONO}}" readonly/>
                    <label for="floatingtelefono">Teléfono</label>
                {% if valores.errortelefono is not empty %}
                    <p class="invalid-feedback">{{valores.errortelefono}}</p>
                {% endif %}
                </div>

                <label for="formFecha">Fecha de nacimiento:</label>
                <div class="row" id="formFecha">
                    <div class="form-floating col mb-3">
                        <input class="form-control {{valores.errordia ? 'is-invalid'}}" id="floatingDia" type="text" name="dia" placeholder="Día" value="{{fecha.2}}" readonly/>
                        <label for="floatingDia">Día</label>
                    {% if valores.errorfecha is not empty %}
                        <p class="invalid-feedback">{{valores.errorfecha}}</p>
                    {% endif %}
                    </div>
                    <div class="form-floating col mb-3">
                        <input class="form-control {{valores.errormes ? 'is-invalid'}}" id="floatingMes" type="text" name="mes" placeholder="Mes" value="{{fecha.1}}" readonly/>
                        <label for="floatingMes">Mes</label>
                    </div>
                    <div class="form-floating col mb-3">
                        <input class="form-control {{valores.erroranyo ? 'is-invalid'}}" id="floatingAnyo" type="text" name="anyo" placeholder="anyo" value="{{fecha.0}}" readonly/>
                        <label for="floatingAnyo">Año</label>
                    </div>

                </div>

                <label for="genderform" class="form-label">Seleccione su género</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input {{valores.errorsexo ? 'is-invalid'}}" id="genderform" name="SEXO" value="Masculino" {{valores.SEXO == 'Masculino' ? 'checked'}} {{valores.SEXO == 'Femenino' ? 'disabled'}} required>
                    <label class="form-check-label" for="validationFormCheck1">Masculino</label>
                </div>

                <div class="form-check mb-3">
                    <input type="radio" class="form-check-input {{valores.errorsexo ? 'is-invalid'}}" id="genderform" name="SEXO" value="Femenino" {{valores.SEXO == 'Femenino' ? 'checked'}} {{valores.SEXO == 'Masculino' ? 'disabled'}} required>
                    <label class="form-check-label" for="validationFormCheck2">Femenino</label>
                {% if valores.errorsexo is not empty %}
                    <p class="invalid-feedback">{{valores.errorsexo}}</p>
                {% endif %}
                </div>

                <input class="btn btn-primary" type="submit" name="boton" value="Activar e informar"/>
                <input class="btn btn-warning" type="submit" name="boton" value="Informar de error"/>
                <input class="btn btn-danger" type="submit" name="boton" value="Borrar usuario"/>
                <a class="btn btn-info" href="/~adrianpedro2122/proyecto/controller/usuarios.php">Volver a la lista de usuarios</a>

            </form>

        {% elseif estado == "Activar"  %}
            <p>El usuario ha sido activado en el sistema correctamente.</p>
            <a class="btn btn-primary" href="/~adrianpedro2122/proyecto/index.php">Volver a inicio</a>
        {% elseif estado == "Borrar" %}
            <p>Se ha borrado el usuario correctamente</p>
            <a class="btn btn-primary" href="/~adrianpedro2122/proyecto/index.php">Volver a inicio</a>
        {% elseif estado == "Informar" %}
            <div class="form-floating">
                <textarea class="form-control" placeholder="Escriba un comentario" id="floatingTextarea2"></textarea>
                <label for="floatingTextarea2">Informe de error a usuario: {{ valores.NOMBRE }}</label>
            </div>

            <a class="btn btn-primary my-3" href="/~adrianpedro2122/proyecto/index.php">Confirmar y volver a inicio</a>
          </div>
        {% endif %}

        </div>


    </div>
    </div>

{% endblock %}
