{% extends "padre.html" %}

    {% block title %}
        Inicio
    {% endblock %}

    {% block main %}
    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 text-center border-bottom">Estadísticas de uso</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        {% for i in estadisticas %}
            <div class="col d-flex align-items-start">
                <div>
                    <h4 class="fw-bold mb-0">{{ i.NOMBRE }}</h4>
                    <p>{{ i.CANTIDAD }}</p>
                </div>
            </div>
        {% endfor %}

        <div class="col d-flex align-items-start">
            <div>
                <h4 class="fw-bold mb-0">Histórico de productos comprados</h4>
                <ul>
                {% for p in productos_comprados %}
                    <li>{{ p.NOMBRE }} ({{ p.CANTIDAD }})</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}