{% extends "padre.html" %}

{% block title %}
    Crear una lista
{% endblock %}

{% block main %}
<div class="container">
    <div class="card bg-light my-5">
        <div class="card-body shadow-lg text-center">
            <form action="controller/restore_from_file.php" method="POST" enctype="multipart/form-data" novalidate>
                <div class="row">
                    <h3>Introduzca un fichero para restaurar la BBDD</h3>
                </div>
                
                <label for="formFile" class="form-label">Elija un fichero</label>
                <input class="col-md-4 form-control" name="fichero" type="file" id="formFile">
                <p class="{{mensaje == "Éxito al cargar la BBDD" ? 'text-success' : 'text-danger'}}">{{mensaje}}</p>
                <input class="btn btn-success m-2" name="boton" type="submit" value="Subir"/> 
            </form>
            
            <a href="/index.php" class="btn btn-primary m-2">Volver a inicio</a>
        </div>
    </div>
</div>

{% endblock %}